<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 col-xs-12">
				<img alt="media-sense" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				A web interface for Kodi and XBMC to make sense of reviews
			</p>
		</div>
	</div>
	<div>
		<h2>Congrats! You've configured and run the media sense application.</h2>
		<p>Media-Sense is a Web interface for Kodi that allows you to manage what you watch. With Media-Sense you can..</p>
		<ul>
			<li>
Quickly find the best content, sorted on review ratings and genre. 
			</li>
			<li>
Review more detail about the content, including plot outline, cast, studio, runtime and release date.
			</li>
			<li>
Request Kodi to play the chosen conent imediately
			</li>
			<li>
Or add the content to a personalised playlist for later review.
			</li>
		</ul>
		<p>Media-Sense makes use of the following technologies.</p>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h2>
				<strong>M</strong>ongoDB
			</h2>
			<p><a target="_blank" href="http://mongodb.org/">MongoDB</a> is a database. MongoDB's <a target="_blank" href="http://docs.mongodb.org/manual/">great manual</a> is the place to get started with NoSQL and MongoDB.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>E</strong>xpress
			</h2>
			<p><a target="_blank" href="http://expressjs.com/"> Express</a> is an app server. Check out <a target="_blank" href="http://expressjs.com/guide.html">The Express Guide</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>A</strong>ngularJS
			</h2>
			<p>AngularJS is web app framework. <a target="_blank" href="http://angularjs.org/">Angular's website</a> offers a lot. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>N</strong>ode.js
			</h2>
			<p><a target="_blank" href="http://nodejs.org/">Node.js</a> is a web server. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>
		</div>
	</div>
	<br>Enjoy &amp; Keep Us Updated,
	<br>The oGecko Team.
</section>